{% extends 'pages/layout/navbar.html' %}

{% block title %}Página Principal - MemesApp{% endblock %}

{% block content %}
<div class="container" style="margin: 32px;">
    {% include 'components/search_component.html' %}
    <h1>Lista de Memes</h1>
    
    {% if memes %}
        <div class="row row-cols-1 row-cols-md-4 row-cols-lg-3" style="gap: 16px;">
            {% for meme in memes %}
                <div class="col">
                    <div class="card" style="max-width: 400px; width: 100%; margin-bottom: 16px; display: flex; flex-direction: column;">
                        <!-- Imagen del meme ajustada al card -->
                        <img src="{{ meme.ruta }}" class="card-img-top" alt="Imagen del Meme" style="height: auto; width: 100%; object-fit: cover;">
                        <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column;">
                            <p class="card-text">
                                <strong>Etiquetas:</strong>
                                {% if meme.etiquetas %}
                                    <div style="display: flex; flex-wrap: wrap; gap: 8px; overflow: hidden;">
                                        {% for etiqueta in meme.etiquetas %}
                                            <span class="badge badge-pill" 
                                                  style="background-color: {{ ['#007bff', '#28a745', '#ffc107', '#17a2b8'][loop.index0 % 4] }}; 
                                                         color: white; 
                                                         padding: 5px 10px; 
                                                         border-radius: 20px; 
                                                         margin-right: 5px; 
                                                         white-space: nowrap; 
                                                         overflow: hidden; 
                                                         text-overflow: ellipsis;">
                                                {{ etiqueta }} 
                                                {% if meme.confianza[etiqueta] is not none %}
                                                    (Confianza: {{ meme.confianza[etiqueta] }})
                                                {% else %}
                                                    (Confianza: None)
                                                {% endif %}
                                            </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <span>No hay etiquetas.</span>
                                {% endif %}
                            </p>

                            <p class="card-text"><strong>Descripción:</strong> {{ meme.descripcion }}</p>
                            <p class="card-text"><strong>Usuario:</strong> {{ meme.usuario }}</p>
                            <p class="card-text"><strong>Fecha de Carga:</strong> {{ meme.cargada }}</p>
                            <a href="{{ meme.ruta }}" class="btn btn-primary" target="_blank">Descargar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if request.args.get('search') %}
            <p>No se encontraron memes para tu búsqueda.</p>
        {% else %}
            <p>No hay memes disponibles.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
