{% extends 'pages/layout/navbar.html' %} {% block title %}Crear Meme -
MemesApp{% endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="title">Crear Meme</h2>

  <!-- Formulario para crear un meme -->
  <form
    action="{{ url_for('memes_routes.crear') }}"
    method="POST"
    enctype="multipart/form-data"
    class="form"
  >
    <!-- Fila de Descripción y Usuario -->
    <div class="row mb-3">
      <!-- Descripción del meme -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="text"
            id="usuario"
            name="usuario"
            class="form-control"
            required
          />
        </div>
      </div>

      <!-- Usuario del meme -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input
            type="text"
            id="descripcion"
            name="descripcion"
            class="form-control"
            required
          />
        </div>
      </div>
    </div>

    <!-- Etiquetas del meme -->
    <div class="form-group mb-3">
      <label for="etiquetas">Etiquetas (separe por comas cada etiqueta)</label>
      <div id="etiquetas-container" class="d-flex flex-wrap mb-2">
        <!-- Aquí aparecerán los chips -->
      </div>
      <input
        type="text"
        id="etiquetas"
        name="etiquetas"
        class="form-control"
        placeholder="Añadir etiquetas"
      />
    </div>

    <!-- Imagen del meme -->
    <div class="form-group mb-3">
      <label for="imagen">Subir Imagen</label>
      <input
        type="file"
        id="imagen"
        name="imagen"
        class="form-control"
        accept="image/*"
        required
      />
    </div>

    <!-- Mensajes flash para mostrar éxito o error -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="messages">
      {% for category, message in messages %}
      <li class="message {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <!-- Botón para enviar el formulario -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Crear Meme</button>
    </div>
  </form>
</div>

{% endblock %}
