<!-- templates/modules/memes/index.html -->
{% extends 'pages/layout/navbar.html' %}

{% block title %}Página Principal - MemesApp{% endblock %}

{% block content %}
    <h2 class="text-3xl font-bold">Bienvenido a MemesApp</h2>
    <p>Utiliza el navbar para crear memes, ver la lista de memes o buscar.</p>

    <!-- Mostrar memes -->
    <div class="grid grid-cols-3 gap-4">
        {% for meme in memes %}
            <div class="meme-card">
                <img src="{{ meme['image_url'] }}" alt="Meme" class="w-full h-auto rounded-md">
                <p class="text-center mt-2">{{ meme['description'] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
